{% load static %}
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Contact Us </title>  
<!-- <link rel="stylesheet" href="{% static 'css/eForm.css' %}"> -->
<style>
    body{
        background: url('../static/css/contact.png') no-repeat center center/cover;
    }

</style>
</head>

<body topmargin="200">
<center>
<form action="" method="POST" id="cnform" name="formal">{% csrf_token %}
<h1><font face="<Lucida Handwriting" size=+6 color= "brown"> Contact Us</font> </h1>
<table cellspacing="15">
<tr>
	<td>
		<font size=+2> <b> Full Name </b>
		</td>
    <td>
    <input id= "fname" size=+50 type="text" name="fname">
    </td>

</tr>
<tr>
    <td>
        <font  size=+2> <b>Email Id</b> 
    </td>
    <td>
        <input  id= "email" size=+50 type="email" name="email">
    </td>
</tr>

<tr>
    <td>
        <font   size=+2> <b>Subject</b>
    </td>
    <td>
    <input id= "subject" size=+50 type="text" name="subject">
    </td>
</tr>

<tr>
    <td>
        <font   size=+2> <b>Message</b>
    </td>
    <td>
    <input id= "message" size=+50 type="text" name="message">
    </td>
</tr>

</table>
<br>
<input id="e_btn" type="button" name= "Enroll" value ="Enroll" >
</form>
</center>

</body>
<script type="text/javascript">
	$('#e_btn').on('click',function(e){e.preventDefault();
    if($('#fname').val()=="")
    {
    alert("First name cannot be blanked");
    return;
    }
    alert("form submitted");
    $.ajax({
        type:'POST',
        url:'/contactAPI/',
        data:{
            fname:$('#fname').val(),
            email:$('#email').val(),
            subject:$('#subject').val(),
            message:$('#message').val(),
            },
            dataType: 'json',
            success:function(){
            console.log('HEREE')
            window.location.href = "/LoginForm";
            }
            });
            })

</script>
</html
