{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/jvideo.css'%}"/>
    <title>HTML Course</title>
   </head>
   <body>
  <p><h1> HTML Tutorials for Beginners</h1>
  <p><h2>Week 1</h2>
 <h3> <a href="https://youtu.be/dD2EISBDjWM">Introduction to HTML </a></h3>
 <h3> <a href="https://youtu.be/i3GE-toQg-o">Line Breaks,spacing and comments </a></h3>
 <h3> <a href="https://youtu.be/09oErCBjVns">Ordered and Unordered Lists </a></h3>
 <h3> <a href="https://youtu.be/wvR40su_XBM">Creating a Table </a></h3>
 <p><h2>Week 2</h2>
 <h3> <a href="https://youtu.be/U4UHoiK6Oo4">Creating a Web Link </a></h3>
  <h3> <a href="https://youtu.be/NCKhB9_8xng">Text Formatting</a></h3>
 <h3> <a href="https://youtu.be/EopTYckcgp4">Style Attributes</a></h3>
  <h3> <a href="https://youtu.be/pfhLHiqHpyQ">Style Tags</a></h3>
 <p><h2>Week 3</h2>
 <h3> <a href="https://youtu.be/Zy4KJeVN7Gk">Adding a Image to Web Page</a></h3>
 <h3> <a href="https://youtu.be/dM12ctixdT4">Resizing And Sizing Images</a></h3>
  <h3> <a href="https://youtu.be/Cn8znTKnWgw">Image As A link</a></h3>
   <h3> <a href="https://youtu.be/MJQTATNi3Zk"> Form Part1: Input and Labels</a></h3>
 <p><h2>Week 4</h2>
 <h3> <a href="https://youtu.be/wsXCT0pFtBc">Form Part2: Action, Method, Name</a></h3>
 <h3> <a href="https://youtu.be/MvsjjQvBlKE"> Form : Placeholder and Required </a></h3>
  <h3> <a href="https://youtu.be/NfvFlQ6Q60g">Form : Radio Button</a></h3>
   <h3> <a href="https://youtu.be/VK04crWuIcY">  Form : Dropdown List</a></h3>