 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/jvideo.css'%}"/>
    <title>Java Course</title>
   </head>
   
   <body>
  <p><h1> Java Tutorials for Beginners</h1>
  <p><h2>Week 1</h2>
 <h3> <a href="https://youtu.be/9Kk1dGkpGPI"> Software Requirements for Java</a></h3>
 <h3> <a href="https://youtu.be/n7D5El5-pEU">What is Variable in Java</a></h3>
 <h3> <a href="https://youtu.be/4NGi9WzLTFg">More on variables</a></h3>
 <h3> <a href="https://youtu.be/VtDBsy_enkE">Naming Convention in Java</a></h3>
 <p><h2>Week 2</h2>
 <h3> <a href="https://youtu.be/mgixJYEZ1Fk">Java Packages, Classes, and Methods</a></h3>
  <h3> <a href="https://youtu.be/SITEc4DWwsQ">public, private, and static in Java</a></h3>
 <h3> <a href="https://youtu.be/14Cfx3fpH-w">The void Return Type in Java</a></h3>
  <h3> <a href="https://youtu.be/Up17-azeuyE">Command Line Arguments in Java</a></h3>
 <p><h2>Week 3</h2>
 <h3> <a href="https://youtu.be/Ccc-Sk8qMAQ">Constants in Java</a></h3>
 <h3> <a href="https://youtu.be/1C9f4mqDDlY">Identifiers in Java</a></h3>
  <h3> <a href="https://youtu.be/UwpXXiGdlOE">Introduction to Data Types</a></h3>
   <h3> <a href="https://youtu.be/o4Ha6wMOemQ">The int Data Type</a></h3>
 <p><h2>Week 4</h2>
 <h3> <a href="https://youtu.be/fGta43iNjNM">The byte, short, and long Data Types</a></h3>
 <h3> <a href="https://youtu.be/shHBfb71UJo"> The double and float Data Types</a></h3>
  <h3> <a href="https://youtu.be/jB5F-GkOhDo">The char Data Type</a></h3>
   <h3> <a href="https://youtu.be/Jlv_fdB4cTY">The boolean Data Type</a></h3>