{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/jvideo.css'%}"/>
    <title>Python Course</title>
   </head>
   <body>
  <p><h1> Python Tutorials for Beginners</h1>
  <p><h2>Week 1</h2>
 <h3> <a href="https://youtu.be/0_lUKurdt88">Python2 vs Python3</a></h3>
 <h3> <a href="https://youtu.be/vwHovI3x3cY">Print Function </a></h3>
 <h3> <a href="https://youtu.be/oLVCeWKXYpY">Escape Sequences</a></h3>
 <h3> <a href="https://youtu.be/qsPyEZcDlFQ">Comments in Python  </a></h3>
 <p><h2>Week 2</h2>
 <h3> <a href="https://youtu.be/c7waWVzwXW0">Escape Sequence as Normal Text</a></h3>
  <h3> <a href="https://youtu.be/V7zA0fH3cGE">Raw Strings</a></h3>
 <h3> <a href="https://youtu.be/QrvmDp9Gat4">Variable in Python</a></h3>
  <h3> <a href="https://youtu.be/Fy99CZ1b5-Y">String Concatenation </a></h3>
 <p><h2>Week 3</h2>
 <h3> <a href="https://youtu.be/O3RoHm1-A1I">User Input</a></h3>
 <h3> <a href="https://youtu.be/W8aP10O5Efg">Int() function </a></h3>
  <h3> <a href="https://youtu.be/nBXI0plpuVI">More about variables </a></h3>
   <h3> <a href="https://youtu.be/kxPXS9uGpwQ">Two or more input in one line</a></h3>
 <p><h2>Week 4</h2>
 <h3> <a href="https://youtu.be/veY5kVHx58o">String formatting </a></h3>
 <h3> <a href="https://youtu.be/YgeojFbQJbo"> String Indexing </a></h3>
  <h3> <a href="https://youtu.be/djxMOagaHvU">String Slicing </a></h3>
   <h3> <a href="https://youtu.be/E129Eh8fUXM"> String Methods </a></h3>